body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    margin: 3em;
    padding: 1em;
    /*border: 2px solid black;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: inset 0 0 15px rgb(0, 0, 0, 0.8);
}

h2 {
    text-align: center;
    padding-bottom: 1em;
}

.face {
    /*border: 2px solid black;*/
    height: 20em;
    width: 20em;
    border-radius: 160px;
    position: relative;
    margin: auto;
    background-color: rgb(229, 229, 82);
    box-shadow: inset 0 0 15px rgb(0, 0, 0, 0.8);
}

.righteye {
    width: 70px;
    height: 70px;
   /* border: 2px solid black; */
    border-radius: 40px;
    position: relative;
    top: 90px;
    left: 200px;
    background-color: aliceblue;
    box-shadow: inset 0 0 15px rgb(0, 0, 0, 0.8);
}

.pupil {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: 23px;
    left: 22px;
    box-shadow: 
    0 10px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lefteye {
    height: 20px;
    width: 70px;
    border: 2px solid black;
    border-bottom: 2px;
    background-color: rgb(167, 167, 94);
    position: relative;
    top: 60px;
    left: 40px;
    border-radius:50%;
    box-shadow: inset 0 0 20px rgb(0, 0, 0, 0.8);
}

.mouth {
    width: 170px;
    height: 70px;
    background-color: rgb(167, 167, 94);
   /* border: 2px solid black;*/
    position: relative;
    top: 120px;
    left: 75px;
    border-radius: 0 0 120px 120px;
    box-shadow: inset 0 0 20px rgb(0, 0, 0, 0.8);
    
}

.tongue {
    height: 70px;
    width: 80px;
    background-color: rgb(255, 65, 65);
    position: relative;
    top: 25px;
    left: 45px;
    border-radius: 0 0 40px 40px;
    box-shadow: inset 0 0 20px rgb(0, 0, 0, 0.8)
}
.line {
    height: 35px;
    width: 5px;
    background-color: rgb(164, 62, 62);
    position: relative;
    left: 50%;
    border-radius: 0 0 75px 75px;
}

.lefteye:hover {
    background-color: aliceblue;
    cursor: pointer;
}